mat-card {
  margin: 2em 0;
}

mat-spinner {
  margin: 0 auto;
  width: 1em;
}

button {
  margin-left: 1em;
}

.info-text {
  text-align: center;
}

/* mat-card {
  margin-top: 1rem;
} */

mat-action-row {
  display: flex;
}

.spacer {
  margin: 0 auto;
}

.title {
  display: flex;
}

.image {
  margin-right: 2em;
}