mat-card {
  margin: 2em 0;
}

mat-spinner {
  margin: 0 auto;
  width: 1em;
}

button {
  margin-left: 1em;
}

.info {
  width: 15em;
  margin: 0 auto 1em;
  text-align: center;
  padding: 0.7em 1em;
  background-color: #666;
  color: #fff;
  border-radius: 1.1rem;
}

.info-text {
  text-align: center;
}

mat-action-row {
  display: flex;
}

.spacer {
  margin: 0 auto;
}

.title {
  display: flex;
}

.image {
  margin-right: 2em;
}