<form>
  <mat-form-field appearance="outline" [style.width.%]="100">
    <input matInput type="text" placeholder="Search" [formControl]="searchControl">
  </mat-form-field>
</form>
<mat-card *ngIf="postList">
  <app-post-list-item *ngFor="let post of postList" [post]="post"></app-post-list-item>
  <p class="info-text" *ngIf="postList?.length === 0">No posts added yet!</p>
</mat-card>
<mat-paginator
  [length]="totalPosts"
  [pageSize]="postsPerPage"
  [pageSizeOptions]="pageSizeOptions"
  *ngIf="postList?.length > 0"
  (page)="changePageHandler($event)"></mat-paginator>
<mat-spinner *ngIf="!postList"></mat-spinner>