mat-card {
  margin-top: 5em;
}

p {
  margin-top: 3em;
  text-align: center;
}

a {
  text-decoration: none;
  color: #3F51B5;
}

a:hover {
  color: #20318f;
}

input[type="file"] {
  visibility: hidden;
}

.image {
  margin-bottom: 1.5em;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}

.error {
  color: red;
  font-size: 0.8em;
}

.spinner {
  margin: auto;
  width: 1em;
}