mat-card {
  width: 40em;
  margin: 5em auto;
}

h2 {
  text-align: center;
}

.image {
  width: 20em;
  height: 20em;
  margin: 3em auto;
}

.info {
  margin: 5em 10em;
}

.info-text {
  text-align: center;
}

.spinner {
  margin: auto;
  width: 1em;
}