<mat-card class="example-card">
  <div class="title">
    <div class="image">
      <img mat-card-avatar src="../../../assets/images/profile-icon-material-design-hd-png-download.png">
    </div>
    <mat-card-title>{{comment.userId.username | titlecase}}</mat-card-title>
    <span class="spacer"></span>
    <mat-card-subtitle>commented on {{comment.created_at | date: 'd MMM y, hh:mm:ss'}}</mat-card-subtitle>
  </div>

  <mat-card-content>
    <p>{{comment.text}}</p>
  </mat-card-content>
  <mat-action-row>
    <button mat-button color="primary">
      <span class="material-icons">
        thumb_up
      </span>
    </button>
    <span class="likes">{{comment.likes.length}} likes</span>
    <span class="spacer"></span>
    <ng-container *ngIf="isAuthor">
      <button mat-button color="primary" (click)="editHandler()">EDIT</button>
      <button mat-button color="warn">DELETE</button>
    </ng-container>
  </mat-action-row>
</mat-card>