<mat-toolbar color="primary">
  <span>
    <a routerLink="/">Inspiration</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a *ngIf="isLogged" mat-button routerLink="/posts/new">New Post</a>
    </li>
    <li>
      <!-- <a *ngIf="!isLogged" mat-button routerLink="/user/login" (click)="loginHandler()">Login</a> -->
      <a *ngIf="!isLogged" mat-button routerLink="/user/login">Login</a>
    </li>
    <li>
      <a *ngIf="!isLogged" mat-button routerLink="/user/register">Register</a>
    </li>
    <li>
      <a *ngIf="isLogged" mat-button routerLink="/user/profile">Profile</a>
    </li>
    <li>
      <button *ngIf="isLogged" mat-button href="/user/logout" (click)="logoutHandler()">Logout</button>
    </li>
  </ul>
</mat-toolbar>