<mat-toolbar color="primary">
  <span>
    <a routerLink="/">Inspiration</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <ng-container *ngIf="isLogged">
      <li>
        <a mat-button routerLink="/posts/new">New Post</a>
      </li>
      <li>
        <a mat-button routerLink="/profile">Profile</a>
      </li>
      <li>
        <button mat-button href="/logout" (click)="logoutHandler()">Logout</button>
      </li>
    </ng-container>
    <ng-container *ngIf="!isLogged">
      <li>
        <a mat-button routerLink="/login">Login</a>
      </li>
      <li>
        <a mat-button routerLink="/register">Register</a>
      </li>
    </ng-container>
  </ul>
</mat-toolbar>