<mat-toolbar color="primary" *ngIf="data$ | async as data">
  <span>
    <a routerLink="/">Inspiration</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <ng-container *ngIf="data.user">
      <li>
        <a mat-button routerLink="/posts/new" routerLinkActive="active"
          >New Post</a
        >
      </li>
      <li>
        <a mat-button routerLink="/user/profile" routerLinkActive="active"
          >{{ data.user.username | titlecase }}'s Profile</a
        >
      </li>
      <li>
        <a mat-button routerLink="/user/favorites" routerLinkActive="active"
          >My Favorites</a
        >
      </li>
      <li>
        <!-- <button mat-button href="/user/logout" (click)="logoutHandler()">Logout</button> -->
      </li>
    </ng-container>
    <ng-container *ngIf="!data.user">
      <li>
        <a mat-button routerLink="/user/login" routerLinkActive="active"
          >Login</a
        >
      </li>
      <li>
        <a mat-button routerLink="/user/register" routerLinkActive="active"
          >Register</a
        >
      </li>
    </ng-container>
  </ul>
</mat-toolbar>
