<ng-container *ngIf="data$ | async as data">
  <mat-form-field appearance="outline" [style.width.%]="100">
    <input
      matInput
      type="text"
      placeholder="Search"
      [formControl]="searchControl"
    />
  </mat-form-field>
  <mat-card *ngIf="data.posts">
    <app-post-list-item
      *ngFor="let post of data.posts.posts"
      [post]="post"
    ></app-post-list-item>
    <p class="info-text" *ngIf="data.posts.posts.length === 0">
      No posts added yet!
    </p>
  </mat-card>
  <mat-paginator
    [length]="data.posts.postCount"
    [pageSize]="limit"
    [pageSizeOptions]="pageSizeOptions"
    *ngIf="data.posts?.postCount > 0"
    (page)="changePageHandler($event)"
  ></mat-paginator>
  <mat-spinner *ngIf="data.isLoading"></mat-spinner>
</ng-container>
