<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Self aware panel
    </mat-expansion-panel-header>
    <mat-panel-description>
      <p>I'm visible because I am open</p>
    </mat-panel-description>
    <!-- <mat-card-actions align="end">
      <button mat-button>Like</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
    <mat-action-row>
      <button mat-button color="primary">EDIT</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>