<mat-card [routerLink]="['/posts', post._id]">
  <div>
    <mat-card-title>{{post.title}}</mat-card-title>
    <mat-card-subtitle>Author {{post.userId.username | titlecase}}, posted on {{post.created_at | date: 'd MMM y, hh:mm:ss'}}</mat-card-subtitle>
    <mat-card-content>
      <p>Shortened description goes here...<a [routerLink]="['/posts', post._id]" mat-button>Read more</a></p>
      <!-- <mat-card-actions> -->

      <!-- </mat-card-actions> -->
    </mat-card-content>
  </div>
  <span class="spacer"></span>
  <div class="image" align="end">
    <img mat-card-sm-image [src]="post.imageUrl" [alt]="post.title">
  </div>
</mat-card>