mat-card {
  max-height: 100px;
  display: flex;
  cursor: pointer;
  margin: 0.7rem;
}

mat-card div {
  margin: 0.5em;
}

.image {
  height: 100px;
  width: auto;
  background: inherit;
}

img {
  border-radius: 0.3em;
  overflow: hidden;
  box-shadow: 0 0 0.3em 0 rgba(0, 0, 0, 0.5);
}

.spacer {
  flex: 1 1 auto;
}

