<mat-card>
  <form (ngSubmit)="loginHandler()" #f="ngForm" *ngIf="!isLoading">
    <div>
      <mat-form-field appearance="outline" [style.width.%]="100">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          name="email"
          ngModel
          #email="ngModel"
          pattern="^[a-zA-z0-9\.-_]{4,}@[a-z]{2,4}\.[a-z]{2,4}$"
          required>
        <!-- <mat-error *ngIf="email.invalid">Please enter an email.</mat-error> -->
      </mat-form-field>
      <span *ngIf="email.touched && email.errors?.['required']" class="error">
        Email is required!
      </span>
      <span *ngIf="email.touched && email.errors?.['pattern']" class="error">
        Email is not valid!
      </span>
    </div>
    <div>
      <mat-form-field appearance="outline" [style.width.%]="100">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          type="password"
          placeholder="******"
          name="password"
          ngModel
          #password="ngModel"
          minlength="6"
          required>
        <!-- <mat-error *ngIf="password.invalid">Please enter a password.</mat-error> -->
      </mat-form-field>
      <span *ngIf="password.touched && password.errors?.['required']" class="error">
        Password is required!
      </span>
      <span *ngIf="password.touched && password.errors?.['minlength']" class="error">
        Password should be at least 6 characters.
      </span>
    </div>
    <button mat-raised-button color="primary" [disabled]="isLoading || f.invalid">Login</button>
  </form>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <p>Don't have an account? <a routerLink="/register">Register now</a></p>
</mat-card>