mat-card {
  margin-top: 5em;
}

p {
  margin-top: 3em;
  text-align: center;
}

a {
  text-decoration: none;
  color: #3F51B5;
}

a:hover {
  color: #20318f;
}

.error {
  color: red;
  font-size: 0.8em;
}

.spinner {
  margin: auto;
  width: 1em;
}